header a {
    background-color: lightgray;
    border-radius: 5px;
    padding: 0.4em;
    margin: 0.4em;
}

header {
    flex: 0 80px;
}

p {
    margin: 0;
}

body {
    background-color: green;
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

.section {
    border-radius: 5px;
    background-color: lightgray;
    margin: 0.5em;
    padding: 1em;
    width: 1000px;
    max-width: 1000px;
    min-width: 1000px;
    flex-shrink: 0;
}

header h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
}

li {
    text-align: left;
}

footer {
    flex: 0 30px;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

.navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
  }
  
  menu .nav-item {
    padding: 0 0.3em;
  }
  
  footer a {
    float: right;
  }

  footer p {
    text-align: end;
  }