header a {
    background-color: lightgray;
    border-radius: 5px;
    padding: 0.4em;
    margin: 0.4em;
}

header {
    flex: 0 80px;
}

.body {
    background-color: green;
    display: flex !important;
    flex-direction: column !important;
    min-width: 375px;
}

.left {
    flex: 0.25 !important;
    flex-shrink: 0;
    margin: 1em;
    background: rgb(86, 89, 93) !important;
    border-radius: 5px;
    padding: 0.5em;
}

.right {
    flex: 0.75;
    flex-shrink: 0;
    margin: 1em;
    background: rgb(86, 89, 93) !important;
    border-radius: 5px;
    padding: 0.5em;
}

.sub {
    flex: 1;
    margin: 0 auto;
    background: lightgray !important;
    align-items: left;
    margin: 1em;
    max-width: 370px !important;
    min-width: 370px;
    border-radius: 5px;
    padding: 0.5em;
}

@media (orientation: portrait) {
    .playMain {
      flex-direction: column !important;
    }
}

h1 {
    text-align: center;
}

.playMain {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start !important;
    gap: 4em;
}

input {
    border-radius: 5px;
    margin: 0.5em;
    width: 300px;
    height: 20px;
    padding: 0.5em;
}

.input-group-text {
    height: 40px;
}

.input-group {
    align-items: center;
}

button {
    margin: 0.5em;
    width: 90px;
    height: 55px;
    line-height: normal;
    vertical-align: middle;
}


footer {
    flex: 0 30px;
}

canvas {
    width: 150;
    height: 225;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
}
  
  menu .nav-item {
    padding: 0 0.3em;
}

  
  footer a {
    float: right;
}

  footer p {
    margin: 0;
    text-align: end;
}

.deck {
    display: inline-block;
    height: 140px;
    width: 95px;
    background-color: #4476AD;
    border: solid thick black;
    margin: 0.5em;
    line-height: normal;
    vertical-align: middle;
}

.card {
    display: inline-block;
    height: 140px;
    width: 95px;
    background-color: #4476AD;
    border: solid thin black;
    margin: 0.5em;
    line-height: normal;
    vertical-align: middle;
    font-size: 30px;
    color: black;
}

.space {
    display: inline-block;
    height: 140px;
    width: 95px;
    background: rgb(86, 89, 93) !important;
    margin: 0.5em;
    line-height: normal;
    vertical-align: middle;
    color: rgb(86, 89, 93);
}

.empty {
    color: rgb(86, 89, 93);
}

.status {
    display: inline-block;
    font-size: 20px;
    background-color: #4476AD;
    margin: 1em;
    border-radius: 5px;
    border: solid black;
    width: 200px;
    align-items: center;
    align-self: center;
}