header a {
    background-color: lightgray;
    border-radius: 5px;
    padding: 0.4em;
    margin: 0.4em;
}

header {
    flex: 0 80px;
}

p {
    margin: 0;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

h1 {
    text-align: center;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

table {
    width: 500px;
    background: lightgray;
    color: black;
}

td {
    border: black solid thin;
    padding: 1em;
    text-align: center;
}

th {
    border: black solid thin;
    padding: 1em;
    text-align: center;
}

tr {
    color: black;
}

div {
    text-align: center;
}

footer {
    flex: 0 30px;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

.navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
  }
  
  menu .nav-item {
    padding: 0 0.3em;
  }
  
  /* footer a {
    float: right;
  }

  footer p {
    text-align: end;
  } */
